<section class="bg-gray-100 border w-[50%] mx-auto my-10 border-gray-100 p-10">

    <h1 class="text-center text-4xl text-green-600 mb-5">Payment Now</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="PaySession()">



        <div class="relative mb-5">
            <input type="text" id="details" formControlName="details"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="details" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">details</label>
        </div>
        @if(checkoutForm.get('details')?.touched && checkoutForm.get('details')?.errors){
        <div class="text-red-700 mb-5">
            @if(checkoutForm.get('details')?.errors?.['required']){
            <p>details is required</p>
            }
        </div>
        }
        <div class="relative mb-5">
            <input type="tel" id="phone" formControlName="phone"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="phone" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">phone</label>
        </div>
        @if(checkoutForm.get('phone')?.touched && checkoutForm.get('phone')?.errors){
        <div class="text-red-700 mb-5">
            @if(checkoutForm.get('phone')?.errors?.['required']){
            <p>phone is required</p>
            }
        </div>
        }
        <div class="relative mb-5">
            <input type="text" id="city" formControlName="city"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="city" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">city</label>
        </div>
        @if(checkoutForm.get('city')?.touched && checkoutForm.get('city')?.errors){
        <div class="text-red-700 mb-5">
            @if(checkoutForm.get('city')?.errors?.['required']){
            <p>city is required</p>
            }
        </div>
        }





        <p class="text-red-700 text-center pb-4 text-2xl">{{errorMessage}}</p>
        <!-- <button class="btn" [disabled]="checkoutForm.invalid">Register</button> -->
        <button class="btn">Pay Now
            @if (isLoading) {
            <i class="fas fa-spinner"></i>
            }
        </button>
    </form>
</section>