<!-- forget password -->
@if(step==1){
<section id="forgetPassword" class="bg-gray-100 border w-[50%] mx-auto my-10 border-gray-100 p-10">



    <h1 class=" text-center text-4xl text-green-600 mb-5">Forget Password</h1>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">



        <div class="relative mb-5">
            <input type="email" id="email" formControlName="email"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        @if(forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.errors){
        <div class="text-red-700 mb-5">
            @if(forgetPasswordForm.get('email')?.errors?.['required']){
            <p>email is required</p>
            }
            @if(forgetPasswordForm.get('email')?.errors?.['email']){
            <p>enter valid email</p>
            }


        </div>
        }


        <p class="text-red-700 text-center pb-4 text-2xl">{{errorMessage}}</p>
        <!-- <button class="btn" [disabled]="loginForm.invalid">Register</button> -->
        <button class="btn">Send Email
            @if (isLoading) {
            <i class="fas fa-spinner"></i>
            }
        </button>
    </form>

</section>
}
<!-- reset code -->
@if(step==2){

<section id="resetCode" class="bg-gray-100 border w-[50%] mx-auto my-10 border-gray-100 p-10">


    <h1 class=" text-center text-4xl text-green-600 mb-5">Reset Code</h1>
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">



        <div class="relative mb-5">
            <input type="text" id="resetCode" formControlName="resetCode"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="resetCode" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                     z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                     peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                     peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Reset
                Code</label>
        </div>
        @if(resetCodeForm.get('resetCode')?.touched && resetCodeForm.get('resetCode')?.errors){
        <div class="text-red-700 mb-5">
            @if(resetCodeForm.get('resetCode')?.errors?.['required']){
            <p>resetCode is required</p>
            }

        </div>
        }


        <p class="text-red-700 text-center pb-4 text-2xl">{{errorMessage}}</p>
        <!-- <button class="btn" [disabled]="loginForm.invalid">Register</button> -->
        <button class="btn">Send Reset Code
            @if (isLoading) {
            <i class="fas fa-spinner"></i>
            }
        </button>
    </form>

</section>
}

<!-- reset password -->
@if(step==3){

<section id="resetPassword" class="bg-gray-100 border w-[50%] mx-auto my-10 border-gray-100 p-10">
    <h1 class="text-center text-4xl text-green-600 mb-5">Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="sendNewPassword()">



        <div class="relative mb-5">
            <input type="email" id="email" formControlName="email"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        @if(resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.errors){
        <div class="text-red-700 mb-5">
            @if(resetPasswordForm.get('email')?.errors?.['required']){
            <p>email is required</p>
            }
            @if(resetPasswordForm.get('email')?.errors?.['email']){
            <p>enter valid email</p>
            }


        </div>
        }


        <div class="relative mb-5">
            <input type="password" id="password" formControlName="newPassword"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="password" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 
                z-10 origin-[0] start-2.5 peer-focus:text-green-600 peer-focus:dark:text-green-500 
                peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">New Password</label>
        </div>
        @if(resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.errors){
        <div class="text-red-700 mb-5">
            @if(resetPasswordForm.get('newPassword')?.errors?.['required']){
            <p>newPassword is required</p>
            }
            @if(resetPasswordForm.get('newPassword')?.errors?.['pattern']){
            <p>enter valid password</p>
            }
        </div>
        }


        <p class="text-red-700 text-center pb-4 text-2xl">{{errorMessage}}</p>
        <!-- <button class="btn" [disabled]="loginForm.invalid">Register</button> -->
        <button class="btn">Send New Password
            @if (isLoading) {
            <i class="fas fa-spinner"></i>
            }
        </button>
    </form>
</section>
}